<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.smartsociety.view">

    <application>
        <activity
            android:name=".ProductsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BloomAndWild.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>